body{
	background-color:#555555;
	font-family:Helvetica, Arial, sans-serif;
}
#myCanvasContainer {
	padding:50px 0 25px 50px;
}
#myCanvas {
	float:left;
	border:1px solid #000000;
}
/* # steht für id */
#controlContainer { 
	float:left;
	margin-left: 25px;
	color:white;
    font-size: 12pt;
}
/* . steht für Klasse */
.inputfield {
    width: 80px;
    margin-bottom: 20px;
}

.inputrange {
    margin-bottom: 20px;
}

.presetcontainer {
    margin-bottom: 50px;
}

.btn {
  /*-webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;*/
  font-family: Arial;
  color: #595959;
  font-size: 15px;
  background: #fafafa;
  padding: 5px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #b8b8b8;
  text-decoration: none;
}

.logo {
    width: 250px;
    margin-left: -10px;
    margin-bottom: 15px;
    margin-top: 35px;
}